@import "resets.scss"
@import "normalize.scss"

$main-color: #F88A09
@mixin box
  width: 400px
  height: 400px
  background-color: #19ce97


.block
  @include box


  &__text
    color: $main-color

.block-2
  @include box
  margin-top: 10px
